<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logout</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/carrito.css" />
    <link rel="stylesheet" href="/styles/navBar.css" />
    <link rel="stylesheet" href="/styles/normalize.css" />
    <link rel="stylesheet" href="/styles/bannerMegalateral.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
  </head>
  <body>
    <%- include( './partials/navBar' ) %>
    <main class="content-main">
      <div class="sidebar__aside">
        <%- include( './partials/bannerMegalateral' ) %>
      </div>
      <div class="sidebar__main">
        <section class="carrito-container">
          <h3>Productos en el carrito activo:</h3>
          <table class="carrito-table">
            <thead>
              <tr>
                <th class="--mobile-hidden">Thumbnail</th>
                <th>Nombre</th>
                <th class="--mobile-hidden">Precio</th>
                <th>Cant</th>
                <th>Subtotal</th>
                <th>Remover</th>
              </tr>
            </thead>
            <tbody>
              <% arrayProdData.forEach((producto, i)=>{ %>
              <tr>
                <td class="--mobile-hidden"><img src="<%= producto.thumbnail %>" /></td>
                <td><%= producto.title %></td>
                <td class="--mobile-hidden">$ <%= producto.price %></td>
                <td><%= producto.cantidad %></td>
                <td>$ <%= producto.subtotal %></td>
                <td>
                  <span class="card-amount-text --mobile-hidden">Cant:</span>
                  <input class="card-amount-number" id="<%= 'q-'+producto.prodId %>" type="number" value="1" />
                  <button class="borrar card-amount-borrar reset-button-styles" data-id="<%= producto.prodId %>">X</button>
                </td>
              </tr>
              <% }) %>
              <tfoot>
                <tr>
                  <td class="--mobile-hidden"></td>
                  <td></td>
                  <td  class="--mobile-hidden"></td>
                  <td>Precio Total:</td>
                  <td>$ <%= subTotal %></td>
                  <td><button id="comprar" class="reset-button-styles card-comprar">comprar</button></td>
                </tr>
              </tbody>
            </tfoot>
          </table>
        </section>
      </div>
    </main>
    <a class="chat__admin" href="/chat/123"
      ><span>Contactar al admin</span></a
    >
    <div class="modal modal-spinner">
      <div class="modal-content"></div>
    </div>

    <script>
      const modal = document.querySelector(".modal-spinner");
      const openModal = function() {
        modal.style.display = "flex";
      }

      document.querySelectorAll(".borrar").forEach((button) =>
        button.addEventListener("click", async (e) => {
          try {
            openModal()
            const dataId = e.currentTarget.getAttribute("data-id");
            const cantidad = document.querySelector(`#q-${dataId}`).value;
            await fetch(`/carrito/${dataId}/productos?cantidad=${cantidad}`, {
              method: "DELETE",
            });
            location.reload();
          } catch (e) {
            logger.error(e);
          }
        })
      );
      document.querySelector("#comprar").addEventListener("click", async () => {
        const cartLength = <%- arrayProdData.length %>
        if(cartLength){
          try {
            openModal()
            await fetch(`/carrito`, { method: "PUT" });
            window.location.href = "/carrito/compra";
          } catch (e) {
            logger.error(e);
          }
        } else {
          console.log("carrito vacio")
        }
      });
    </script>
  </body>
</html>
